$color: green;
$full-width: 100%;
$full-height: 100vh;

body, .outerFlex, navbar {
    width: $full-width;
    height: $full-height;
}
.navbar {
    height: 50px;
}
#scorecard-container, .score-card-back9 {
    visibility: hidden;
}
.holes {
    text-align: center;
}
.form-group-1, .form-group-2 {
    visibility: visible;
}
#course-heading {
    visibility: hidden;
    text-align: center;
}
#tee-box-heading {
    visibility: hidden;
    text-align: center;
}